.App {
  text-align: center;
}

.App .form-group{
  color: aqua;
}

.App {
  font-family: 'Avenir', 'Helvetica', sans-serif;
  font-weight: 100;
  background-color: #626066;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App h1 {
  color: #dad9df;
  font-size: 2rem;
}
